# データ類
*.db
*.json
*.csv
*.txt
*.pt

# コーパス,データ類
Data/Log/Centering_Theory/*
Data/Log/Dia_system/*
Data/Log/dialog/*
Data/Log/Talk2Write/*
Data/Log/Dia_system_CSV

ResponceGenerator/data/*
ResponceGenerator/kakikotoba_Data/*
ResponceGenerator/logs/*
ResponceGenerator/model/*
ResponceGenerator/terminal_output/*

TextCompletion/caseFrame/example.db

JDTransformer/checkpoints/*
JDTransformer/data/dicts/*
JDTransformer/data/sample/*
JDTransformer/log/*

share/DB/

Talk2Write/data/*
Talk2Write/logs/*
Talk2Write/model/*
Talk2Write/terminal_output/
Talk2Write/test/



# pycache
__pycache__/
*.py[cod]
*$py.class


# その他
transformers/


