# データ類
*.db
*.json
*.csv
*.txt
*.pt

# コーパス,データ類
Data/Log/Centering_Theory/*
Data/Log/Dia_system/*
Data/Log/dialog/*
Data/Log/Talk2Write/*

ResponceGenerator/model

JDTransformer/checkpoints/*
JDTransformer/data/dicts/*
JDTransformer/data/sample/*
JDTransformer/log/*

share/DB/

Talk2Write/data/*
Talk2Write/logs/*
Talk2Write/model/*
Talk2Write/terminal_output/
Talk2Write/test/



# pycache
__pycache__/
*.py[cod]
*$py.class
caseFrame/__pycache__/
ResponceGenerator/__pycache__/
JDTransformer/__pycache__/
share/__pycache__/
Talk2Write/__pychache__/
Wrapper/__pychache__

# その他
transformers/


